# Correlation analyis
[Lecture](https://ithogskolan.sharepoint.com/:v:/s/AI23/EVM3kTeo1gFDiQuMElQ-1YcBP1UTThO601abub20Xf9LxQ?e=vezjHz)  
- correlation analysis is a statistical technique used to esamine the strength and direction of the relationship between two or more variables. It involves analysing the degree to which changes in one variable is associated with changes in another variable.
  
### Pandas .corr() method
- Claculates the the correlation coefficients between all pairs of features in dataframe, and returns a new dataframe where the number of rows and columns both

In [2]:
import pandas as pd
import seaborn as sns
import warnings

warnings.filterwarnings("ignore", "is_categorical_dtype")
warnings.filterwarnings("ignore", "use_inf_as_na")
warnings.filterwarnings("ignore", "The figure layout has changed to tight")
warnings.filterwarnings("ignore", "The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.")
warnings.filterwarnings("ignore", "is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead. if is_sparse(pd_dtype):")

Läser in data på .json format, som vi sparade i L09. Där all categorical data ersatt med numerisk data, så att säga.

In [5]:
titanic = pd.read_json("../Data/titanic_encoded.json")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,0.0,2,1,1,7,2,0,0
1,1,1,0,38.0,1,0,71.2833,1.0,0,2,0,2,0,1,0
2,1,3,0,26.0,0,0,7.9250,0.0,2,2,0,7,2,1,1
3,1,1,0,35.0,1,0,53.1000,0.0,0,2,0,2,2,1,0
4,0,3,1,35.0,0,0,8.0500,0.0,2,1,1,7,2,0,1

In [6]:
# Nu kör vi corr() metoden på datan:
correlation_matrix = titanic.corr()
correlation_matrix

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
survived,1.000000,-0.338481,-0.543351,-0.077221,-0.035322,0.081629,0.257307,0.108669,-0.338481,0.325753,-0.557080,-0.294804,-0.163517,1.000000,-0.203367
pclass,-0.338481,1.000000,0.131900,-0.369226,0.083081,0.018443,-0.549500,0.043835,1.000000,-0.196793,0.094035,0.743251,0.157112,-0.338481,0.135207
sex,-0.543351,0.131900,1.000000,0.093254,-0.114631,-0.245489,-0.182333,-0.118593,0.131900,-0.639773,0.908578,0.118282,0.104057,-0.543351,0.303646
age,-0.077221,-0.369226,0.093254,1.000000,-0.308247,-0.189119,0.096067,0.012186,-0.369226,0.378685,0.280328,-0.267987,-0.025252,-0.077221,0.198270
sibsp,-0.035322,0.083081,-0.114631,-0.308247,1.000000,0.414838,0.159651,-0.060606,0.083081,-0.136003,-0.253586,0.041333,0.066654,-0.035322,-0.584471
parch,0.081629,0.018443,-0.245489,-0.189119,0.414838,1.000000,0.216225,-0.079320,0.018443,-0.055682,-0.349943,-0.031308,0.038322,0.081629,-0.583398
fare,0.257307,-0.549500,-0.182333,0.096067,0.159651,0.216225,1.000000,0.063462,-0.549500,0.146290,-0.182024,-0.525994,-0.221226,0.257307,-0.271832
embarked,0.108669,0.043835,-0.118593,0.012186,-0.060606,-0.079320,0.063462,1.000000,0.043835,0.103240,-0.110351,-0.042195,-0.760766,0.108669,0.018867
class,-0.338481,1.000000,0.131900,-0.369226,0.083081,0.018443,-0.549500,0.043835,1.000000,-0.196793,0.094035,0.743251,0.157112,-0.338481,0.135207
who,0.325753,-0.196793,-0.639773,0.378685,-0.136003,-0.055682,0.146290,0.103240,-0.196793,1.000000,-0.437532,-0.153766,-0.060177,0.325753,0.006540
adult_male,-0.557080,0.094035,0.908578,0.280328,-0.253586,-0.349943,-0.182024,-0.110351,0.094035,-0.437532,1.000000,0.098553,0.088725,-0.557080,0.404744
deck,-0.294804,0.743251,0.118282,-0.267987,0.041333,-0.031308,-0.525994,-0.042195,0.743251,-0.153766,0.098553,1.000000,0.191735,-0.294804,0.137515
embark_town,-0.163517,0.157112,0.104057,-0.025252,0.066654,0.038322,-0.221226,-0.760766,0.157112,-0.060177,0.088725,0.191735,1.000000,-0.163517,0.065610
alive,1.000000,-0.338481,-0.543351,-0.077221,-0.035322,0.081629,0.257307,0.108669,-0.338481,0.325753,-0.557080,-0.294804,-0.163517,1.000000,-0.203367
alone,-0.203367,0.135207,0.303646,0.198270,-0.584471,-0.583398,-0.271832,0.018867,0.135207,0.006540,0.404744,0.137515,0.065610,-0.203367,1.000000

# Här finns mer för mig att kolla på föreläsningen om jag orkar....